---
title: Layout Test
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/public/styles/layout.css">
    </head>
    <body style="margin: 0; font-family: Helvetica;">
        <section id="app">
            <nav class="nav">
                <a href="/" class="app-nav-link" client>Home</a>
                <a href="/about" class="app-nav-link" client>About</a>
            </nav>
            <h1 style="color: #663399;">{{ title }}</h1>
            {{ content | safe }}
        </section>
        <script src="/public/scripts/client-link.js" async></script>
    </body>
</html>