body {
    margin: 0;
    font-family: sans-serif;
}

nav {
    display: flex; 
}

.app-nav-link {
    color: #000;
    margin-right: 8px;
}

h1 {
    color: #663399;
}

.app {
    width: 80%;
    margin: 0 auto;
    /* background: #00f; */
}