---
layout: layout.liquid
title: Home Page
css: [index.css]
---
<p>This is the home page</p> 
<picture> 
    <source srcset="/public/images/sr2@400w.jpg" width="200" height="132" media="(max-width: 400px)">
    <img src="/public/images/sr2@800w.jpg" width="400.5" height="265" alt="a sunroom">
</picture>